# Mantieni SEMPRE la versione locale (Codex) su questi file durante merge/rebase
resources/views/livewire/movimenti/carico-wizard.blade.php      merge=ours
resources/views/livewire/movimenti/conto-lavoro-wizard.blade.php merge=ours
resources/views/livewire/movimenti/scarico-wizard.blade.php      merge=ours
resources/views/livewire/movimenti/transfer-wizard.blade.php     merge=ours
